[Unit]
Description=Graphical equalizer daemon
Documentation=https://ogris.de/grapheqd/
Requires=local-fs.target
Conflicts=shutdown.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/sbin/grapheqd -d -u nobody
Restart=always
